# This is a basic workflow to help you get started with Actions

name: Test

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  test:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    
    services:
        yt-dl-api:
        image: raghulc/youtube-downloader-api:latest
        env:
          FLASK_PORT: 9001
        ports:
        # will assign a random free host port
        - 9001/tcp

    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    # Runs a single command using the runners shell
    - name: Execute Curl
      run: curl -v http://localhost:${{ job.services.yt-dl-api.ports[9001] }}/server/status
